---
title: Features
layout: page
pageOrder: 3
---

nav(class='linklist')
  :t(render="html.eco")
    <% for document in @getCollection('features').toJSON(): %>
      <li><a href="<%= document.url %>"><%= document.title %></a></li>
    <% end %>
