---
title: Modules
layout: page
pageOrder: 4
---

nav(class='linklist')
  :t(render="html.eco")
    <% for document in @getCollection('modules').toJSON(): %>
      <li><a href="<%= document.url %>"><%= document.title %></a></li>
    <% end %>
