---
title: Road Map
description: Present the direction of Drupal WxT
layout: page
tags: ['roadmap','page']
pageOrder: 7
---

h2 Vision Statement
p
  | The primary goal of Drupal WxT is to provide an enterprise level Drupal distribution
  that can assist governments and larger organizations in disseminating data.
.row
  .col-md-4
  .col-md-4
  .col-md-4

h2 Key Features
p
  | There are a lot of features inherently provided by Drupal WxT. However there are a few
  that habe been designated as mandatory to support and as such have shaped the architecture
  of the distribution as a whole.
.row
  .col-md-4
  .col-md-4
  .col-md-4
table.table.table-responsive
  thead
    tr
      th #
      th Feature
      th Status
      th Notes
  tbody
    tr.success
      td 1
      td Content Moderation
      td Functional
      td See this page
    tr.success
      td 2
      td Content Staging / Deployment
      td Functional
      td See this page
    tr.danger
      td 3
      td Inline Editing
      td Functional
      td See this page
    tr.success
      td 3
      td Multilingual
      td Functional
      td See this page
    tr.success
      td 4
      td Universal Unique Identifiers
      td Functional
      td See this page
