---
title: Road Map
description: Present the direction of Drupal WxT
layout: page
tags: ['roadmap','page']
pageOrder: 5
---

.row
  .col-xs-12.col-sm-12
    h2 Vision Statement
    p
      | The Drupal WxT distribution is a web content management system which assists in building
      | and maintaining innovative Web sites that are accessible, usable, and interoperable.
      | The primary goal of Drupal WxT is to provide an enterprise level platform
      | that can assist governments and larger organizations in disseminating data.
    .row
      .col-md-4
      .col-md-4
      .col-md-4

    h2 Mandatory Features
    p
      | There are a lot of features inherently provided by Drupal WxT. However there are a few
      | that have been designated as mandatory to support and as such have shaped the architecture
      | of the distribution.
    .row
      .col-md-4
      .col-md-4
      .col-md-4
    table.table.table-responsive.table-hover
      thead
        tr
          th #
          th Feature
          th Status
          th Description
      tbody
        tr.warning
          td 1
          td
            a(href="/features/accessibility") Accessibility
          td Needs Work
          td A proper and extendable content workflow must be established.
        tr.success
          td 2
          td
            a(href="/features/content-moderation") Content Moderation
          td Functional
          td A proper and extendable content workflow must be established.
        tr.success
          td 3
          td
            a(href="/features/content-staging") Content Staging / Deployment
          td Functional
          td Content should be deployable allowing for content to be sent reliably across drupal platforms.
        tr.danger
          td 4
          td Inline Editing
          td Prototype
          td Content Authors should be able to quickly and easily modify content on the frontend.
        tr.success
          td 5
          td
            a(href="/features/wxt") WxT jQuery Framework
          td Functional
          td Maintain template adherance and tightly couple with the functionality provided by by WxT.
        tr.success
          td 6
          td
            a(href="/features/metatags") Metatags
          td Functional
          td Follow the Standard on Web Operability provided by TBS.
        tr.success
          td 7
          td
            a(href="/features/migration") Migration
          td Functional
          td Provide an API allowing bulk migration of content from a variety of platforms into Drupal.
        tr.success
          td 8
          td
            a(href="/features/multilingual") Multilingual
          td Functional
          td Provide multilingual support throughout the platform.
        tr.success
          td 9
          td
            a(href="/features/uuid") Universal Unique Identifiers
          td Functional
          td All entities should be associated with UUID to allow for data to be reliably stored, accessed and deployed.

    h2 Future
    p
      | The WxT jQuery Framework as of v4.0 is moving to bootstrap.
    p
      | This will be very exciting as Drupal already has a variety of bootstrap modules.
    p
      |In version 2.x of this distribution we will be evaluating the following modules/themes for possible integration:

    table.table.table-responsive.table-hover
      thead
        tr
          th #
          th Module
          th Status
          th Description
      tbody
        tr.warning
          td 1
          td
            a(href="http://drupal.org/project/bootstrap") Bootstrap
          td Port
          td Bootstrap base-theme for the Bootstrap Framework. (Port to Omega)
      tbody
        tr.success
          td 1
          td
            a(href="http://drupal.org/project/panels_bootstrap_layouts") Panels Bootstrap Layouts
          td Integrate
          td Supports Panels based layouts using Twitter Bootstrap layout system as base.
      tbody
        tr.success
          td 1
          td
            a(href="http://drupal.org/project/views_bootstrap") Views Bootstrap
          td Integrate
          td Create components for the Bootstrap theme in the configuration settings of Views.
