---
title: Road Map
layout: page
tags: ['roadmap','page']
pageOrder: 6
---

h2 Vision Statement
p
  | The primary goal of Drupal WxT is to provide an enterprise level Drupal 7 distribution.
.row
  .col-md-4
  .col-md-4
  .col-md-4
