---
title: Road Map
description: Present the direction of Drupal WxT
layout: page
tags: ['roadmap','page']
pageOrder: 7
---

.row
  .col-xs-12.col-sm-12
    h2 Vision Statement
    p
      | The Drupal WxT distribution is a web content management system which assists in building
      | and maintaining innovative Web sites that are accessible, usable, and interoperable.
      | The primary goal of Drupal WxT is to provide an enterprise level platform
      | that can assist governments and larger organizations in disseminating data.
    .row
      .col-md-4
      .col-md-4
      .col-md-4

    h2 Mandatory Features
    p
      | There are a lot of features inherently provided by Drupal WxT. However there are a few
      | that have been designated as mandatory to support and as such have shaped the architecture
      | of the distribution.
    .row
      .col-md-4
      .col-md-4
      .col-md-4
    table.table.table-responsive.table-hover
      thead
        tr
          th #
          th Feature
          th Status
          th Description
      tbody
        tr.warning
          td 1
          td Accessibility
          td Needs Work
          td A proper and extendable content workflow must be established.
        tr.success
          td 2
          td Content Moderation
          td Functional
          td A proper and extendable content workflow must be established.
        tr.success
          td 3
          td Content Staging / Deployment
          td Functional
          td Content should be deployable allowing for content to be sent reliably across drupal platforms.
        tr.danger
          td 4
          td Inline Editing
          td Prototype
          td Content Authors should be able to quickly and easily modify content on the frontend.
        tr.success
          td 5
          td WxT jQuery Framework
          td Functional
          td Maintain template adherance and tightly couple with the functionality provided by by WxT.
        tr.success
          td 6
          td Metatags
          td Functional
          td Follow the Standard on Web Operability provided by TBS.
        tr.success
          td 7
          td Migration
          td Functional
          td Provide an API allowing bulk migration of content from a variety of platforms into Drupal.
        tr.success
          td 8
          td Multilingual
          td Functional
          td Provide multilingual support throughout the platform.
        tr.success
          td 9
          td Universal Unique Identifiers
          td Functional
          td All entities should be associated with UUID to allow for data to be reliably stored, accessed and deployed.

    h2 Future
    p
      | The WxT jQuery Framework as of v4.0 is moving to bootstrap.
    p
      | This will be very exciting as Drupal already has a variety of bootstrap modules.
    p
      |In version 2.x of this distribution we will be evaluating the following modules/themes for possible integration:
    .list-group
      a(href="https://drupal.org/project/bootstrap").list-group-item
        h4.list-group-item-heading Bootstrap
        p.list-group-item-text
          | Bootstrap base-theme for the Bootstrap Framework. (Port to Omega)
      a(href="https://drupal.org/project/panels_bootstrap_layouts").list-group-item
        h4.list-group-item-heading Panels Bootstrap Layouts
        p.list-group-item-text
          | Supports Panels based layouts using Twitter Bootstrap layout system as base.
      a(href="https://drupal.org/project/views_bootstrap").list-group-item
        h4.list-group-item-heading Views Bootstrap
        p.list-group-item-text
          | Create components for the Bootstrap theme in the configuration settings of Views.
