---
title: Road Map
description: Present the direction of Drupal WxT
layout: page
tags: ['roadmap','page']
pageOrder: 7
---

h2 Vision Statement
p
  | The primary goal of Drupal WxT is to provide an enterprise level Drupal distribution
  that can assist governments and larger organizations in disseminating data.
.row
  .col-md-4
  .col-md-4
  .col-md-4

h2 Key Features
p
  | The primary goal of Drupal WxT is to provide an enterprise level Drupal 7 distribution.
.row
  .col-md-4
  .col-md-4
  .col-md-4
table.table.table-responsive
  thead
    tr
      th #
      th Feature
      th Status
      th Notes
  tbody
    tr.success
      td 1
      td Deployment
      td Functional
      td See this page
