---
title: WxT
description: Drupal Variant of the Web Experience Toolkit.
layout: page
pageOrder: 6
---

.row
  .col-xs-12.col-sm-12
    h2 Overview
    p
      | The Drupal WxT distribution is a web content management system which assists in building and maintaining innovative Web sites that are accessible, usable, and interoperable. The primary goal of Drupal WxT is to provide an enterprise level platform that can assist governments and larger organizations in disseminating data.

    p
      | To get started with Drupal WxT, check out our installation guide which documents the different options available and further avail yourself of our documentation guide for developing sites with this platform.
    p
      | If you have any questions, be sure to check out the Drupal WxT FAQ otherwise please post an issue in the issue queue.

h2  Installation Profile
nav(class='linklist')
  :t(render="html.eco")
    <% for document in @getCollection('profiles').toJSON(): %>
      <li><a href="<%= document.url %>"><%= document.title %></a></li>
    <% end %>

h2  Custom Modules
nav(class='linklist')
  :t(render="html.eco")
    <% for document in @getCollection('modules').toJSON(): %>
      <li><a href="<%= document.url %>"><%= document.title %></a></li>
    <% end %>

h2  Custom Themes
nav(class='linklist')
  :t(render="html.eco")
    <% for document in @getCollection('themes').toJSON(): %>
      <li><a href="<%= document.url %>"><%= document.title %></a></li>
    <% end %>
